{% extends "entrega/base.html" %}

{% block title %} Actualizar Camiones {% endblock %}

{% block main %}
<form action="{% url 'actualizar_camiones' camion.pk %}" method="POST">
    {% csrf_token %}
    <label for="modelo">Modelo:</label><br>
    <input type="text" id="modelo" name="modelo" value="{{ camion.modelo }}"><br>
    <label for="matricula">Matricula:</label><br>
    <input type="text" id="matricula" name="matricula" value="{{ camion.matricula }}"><br>
    <input type="submit" value="Actualizar">
</form>
{% endblock main %}