{% extends "entrega/base.html" %}

{% block title %} Vehiculos {% endblock %}

{% block main %}
<h2>Autos</h2>
{% for auto in autos %}
    <p>Modelo: {{ auto.modelo }}, Matricula: {{ auto.matricula }}</p>
{% empty %}
    <p>No se encontraron autos.</p>
{% endfor %}

<h2>Camiones</h2>
{% for camion in camiones %}
    <p>Modelo: {{ camion.modelo }}, Matricula: {{ camion.matricula }}</p>
{% empty %}
    <p>No se encontraron camiones.</p>
{% endfor %}

<h2>Motos</h2>
{% for moto in motos %}
    <p>Modelo: {{ moto.modelo }}, Matricula: {{ moto.matricula }}</p>
{% empty %}
    <p>No se encontraron motos.</p>
{% endfor %}
{% endblock main %}