{% extends "entrega/base.html" %}

{% load static %}

{% block title %} Ingresar datos {% endblock %}

{% block main %}

<form action="{% url 'crear_autos' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Crear Autos">
</form>

<form action="{% url 'crear_camiones' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Crear Camiones">
</form>

<form action="{% url 'crear_motos' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Crear Motos">
</form>

{% endblock main %}