{% extends "entrega/base.html" %}

{% load static %}

{% block title %} Ingresar datos {% endblock %}

{% block main %}

<form action= "{% url 'form_ingresar_datos_autos' %}" method="POST">
{% csrf_token %}
<p>Autos</p>
<p>Modelo: <input type="text" name="modelo"></p>
<p>Matricula: <input type="text" name="matricula"></p>

<input type="submit" value="Enviar">

</form>

<form action= "{% url 'form_ingresar_datos_camiones' %}" method="POST">
    {% csrf_token %}
    <p>Camiones</p>
    <p>Modelo: <input type="text" name="modelo"></p>
    <p>Matricula: <input type="text" name="matricula"></p>
    
    <input type="submit" value="Enviar">
    
</form>

<form action= "{% url 'form_ingresar_datos_motos' %}" method="POST">
{% csrf_token %}
<p>Motos</p>
<p>Modelo: <input type="text" name="modelo"></p>
<p>Matricula: <input type="text" name="matricula"></p>

<input type="submit" value="Enviar">

</form>

{% endblock main %}