{% extends "entrega/base.html" %}
{% block title %} Ingresa los datos de los vehiculos {% endblock %}
{% block main %}
<h2>Aquí puede crear e ingresar nuevos vehiculos</h2>

{% load static %}

<form action="{% url 'crear_autos' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Crear Autos">
</form>

<form action="{% url 'crear_camiones' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Crear Camiones">
</form>

<form action="{% url 'crear_motos' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Crear Motos">
</form>
{% endblock %}
{% block footer %}
<p>Autor: Juan Isabella</p>
<p>Fecha: Agosto 2024</p>
{% endblock %}